/* Set the background gradient */
body, html {
    height: 100%;
    background-image: linear-gradient(45deg, #373b44, #4286f4);
  }
  
  /* Set the font family and color */
  body {
    font-family: Arial, sans-serif;
    color: white;
  
        background-image: linear-gradient(149deg, rgba(85, 85, 85, 0.05) 0%, rgba(85, 85, 85, 0.05) 25%,rgba(11, 11, 11, 0.05) 25%, rgba(11, 11, 11, 0.05) 50%,rgba(182, 182, 182, 0.05) 50%, rgba(182, 182, 182, 0.05) 75%,rgba(28, 28, 28, 0.05) 75%, rgba(28, 28, 28, 0.05) 100%),linear-gradient(232deg, rgba(145, 145, 145, 0.05) 0%, rgba(145, 145, 145, 0.05) 25%,rgba(165, 165, 165, 0.05) 25%, rgba(165, 165, 165, 0.05) 50%,rgba(84, 84, 84, 0.05) 50%, rgba(84, 84, 84, 0.05) 75%,rgba(131, 131, 131, 0.05) 75%, rgba(131, 131, 131, 0.05) 100%),linear-gradient(321deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 25%,rgba(249, 249, 249, 0.05) 25%, rgba(249, 249, 249, 0.05) 50%,rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%,rgba(104, 104, 104, 0.05) 75%, rgba(104, 104, 104, 0.05) 100%),linear-gradient(90deg, rgb(21, 8, 116),rgb(111, 197, 250)); min-height: 100vh;
 
  }
  
  /* Style the main headings */
  h1, h2 {
    color: white;
}

/* Style the container */
.container {
background-color: white;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
margin-top: 50px;
margin-bottom: 50px;
padding: 20px;
color: black;

}
.category {
    margin-bottom: 1rem;
  }

/* Style the categories container */
#categories-container {
display: flex;
flex-direction: column;
align-items: left;
gap: 20px;
padding: 20px;
}

/* Style the category titles */
.category h3 {
color: #373b44;
}


.questions-container {
display: flex;
flex-direction: column;
gap: 10px;
display: none; 
}


/* Style the answer text */
.answer p {
color: #373b44;
margin-bottom: 10px;
}
